.profile-pic {
	max-width:100%;
}

.profile-title{
	color:#f4df41;
	font-family: 'Josefin Sans', sans-serif
}

.profile-font{
	color:#f45541;
	font-family: 'Acme', sans-serif;
  }

.profile-font1{
	color:#5F9EA0;
	font-family: 'Josefin Sans', sans-serif
}

.progress-bar{
	background-color: hotpink;
}

.my-nav {
	background-color: #D2691E;
}

.my-navi{
	color: black;
}

.profile-color{
	color:#800000;
}

.jumbotron-fluid{
	background-image: url("../img/friends.jpg");
}

.jumbo-text{
	text-shadow: 2px 2px white;
}